.navbar {
    position: fixed !important;
    width: 100%;
    z-index: 10;
    background-color: aliceblue;
    min-height: 12vh;
    padding: 0 !important;
}

.menu-item {
    /* height: auto !important; */
    min-height: 50vh !important;
}

.menu-item-text {
    margin: 0 !important;
}

#main-content {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    top: 13vh;
    height: 100%;
}

.mb-6 {
    margin-top: 12vh;
    margin-bottom: 12vh;
}

.other-row {
    height: auto;
}

.row {
    margin: 0 !important;
    position: relative;
    display: flex;
    height: auto;
}

.col-12 {
    flex: auto;
}

body {
    margin: 0;
    padding: 0;
}

.img-normal {
    width: 100%;
    object-fit: contain;
    /* object-fit: cover; */
    max-height: 100% !important;
}

.intro {
    padding: 0;
    margin: 0 !important;
}


.help-text {
    height: auto;
}

.help-row {
    height: auto;
}

.text-sm {
    color: var(--maroon);
}

.h1 {
    color: var(--maroon) !important;
}

.navbar-nav .nav-link {
    color: var(--maroon) !important;
}

.footer {
    color: #C20808 !important;
    background-color: aliceblue !important;
    padding: 20px 0;
  }
  
.footer a {
    color: #C20808;
}
  
.contact-icons a {
    color: #C20808;
    margin-right: 10px;
    font-size: 24px;
}
  
.contact-info li {
    list-style-type: none;
    margin-bottom: 10px;
}

.contact-info {
    padding-left: 0;
}

#intro-pic {
    padding: 0 !important;
}

#intro-img-cover {
    padding: 0 !important; 
    height: auto;
}

.homepage-items {
    background-color: lightgrey;
    padding: 0 !important;
}

.orderh-img {
    padding: 0;
}

.hp-button {
    background-color: #C20808 !important;
    color: aliceblue !important;
    padding: 0 !important;
    margin: 0 !important;
    vertical-align: top;
}

@media (max-width: 380px) {
    .hero-text {
      font-size: small;
    }
}

@media (min-width: 600px) {
    .text-sm {
      font-size: larger;
    }
}

@media (max-width: 576px) {
    #title-box {
      width: 75%;
    }
  }


ul {
    list-style-type: none;
}

a:visited {
    text-decoration: none;
}